@charset "utf-8";

@font-face {
	font-family: "LINESeedKR-Th";
	src:
		url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "LINESeedKR-Rg";
	src:
		url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "LINESeedKR-Bd";
	src:
		url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2");
	font-weight: 700;
	font-style: normal;
}

* {
	font-family: 'LINESeedKR-Bd';
}

.jumbotron {
	border: 1px solid black;
	margin-top: 10px;
}

.container {
	padding: 0;
	border: 1px solid red;
	background-color: #F9FCFF;
}

#myInfo {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	text-align: center;
	background-color: #06283D;
	color: #F9FCFF;
}

#myInfo-content {
	font-size: 30px;
	align-items: center;
	padding-top: 5px;
}

#MGMT-13 {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: space-between;
}

#MGMT-1, #MGMT-3 {
	width: 48%;
	height: 100%;
	background-color: #F9FCFF;
	border: 1px solid gray;
	border-radius: 10px;
	box-shadow: 2px 2px 10px 2px;
}

#MGMT-4 {
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	margin-top: 50px;
	border: 1px solid blue;
}

#MGMT-41 {
	width: 100%;
	height: 50%;
}

#MGMT-42 {
	width: 100%;
	height: 50%;
	background-color: lightgray;
}

#MGMT-2 {
	width: 100%;
	height: 2000px;
	margin-top: 50px;
	border: 1px solid green;
	background-color: gray;
}

/* budget & saving section css */
#beforeBudSetContainer, #beforeSaveSetContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
}

#setBudgetInput, #setSaveInput, #newBudgetInput, #newSavingInput {
	border: 1px solid lightgray;
	border-radius: 5px;
	width: 100%;
	padding: 0px 10px;
	text-align: center;
	position: relative; /* 부모 요소의 위치 설정 */
}

#setBudgetBtn, #setSaveBtn, #saveBtn, #saveBtn2 {
	border: 1px solid lightgray;
	border-radius: 8px;
	background-color: #FCEAAB;
	width: 100px;
	margin-top: 10px;
	position: relative; /* 부모 요소의 위치 설정 */
}

#afterBudSetContainer, #afterSaveSetContainer {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

#afterBudSetHeader, #afterSaveSetHeader {
	margin-bottom: 30px;
	border-bottom: 0.5px solid lightgray;
}

#afterBudSetHeader span, #afterSaveSetHeader span {
	font-family: "LINESeedKR-Bd";
	font-size: 20px;
}

.left {
	float: left;
	font-family: "LINESeedKR-Rg";
}

.right {
	float: right;
	font-family: "LINESeedKR-Rg";
}

#afterBudSetList, #afterSaveSetList {
	width: 90%;
	margin: 0 auto;
}

#afterSetBudget, #afterSetSave {
	margin: 0 auto;
	text-align: center;
}

.progress {
	margin-top: 5px;
}

.progress div {
	background-color: #06283D;
}

#afterSetSave img, #afterSetBudget img {
	width: 100px;
	height: 100px;
}

#comment {
	font-family: "LINESeedKR-Bd";
	margin-bottom: 10px;
	}
